.wrapper {
    display: inline-block;
    width: 100%;
}
.container {
    display: flex;

    width: 100%;
    padding: 0 0 0 15px;
}

.content {
    max-width: 60%;
    flex: 1;
}

.sidebar-right {
    display: block;
    width: 22%;
}
