.menu-item {
    display: flex;
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
    align-items: center;
    padding: 8px;
    line-height: 25px;
    border-radius: 4px;
    transition: background ease-in-out 200ms;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
    &.active {
        color: var(--primary);

        .icon {
            display: none;
        }
        .active-icon {
            display: flex;
            font-size: 1.8rem;
        }
    }
}
.title {
    padding-left: 10px;
}
.active-icon,
.icon {
    display: flex;
}
.active-icon {
    display: none;
}
