.wrapper {
    width: 320px;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}
.btn-follow {
    padding: 0px 16px;
}

.body {
    margin-top: 12px;
}

.nickname {
    font-size: 1.8rem;
}

.check {
    font-size: 1.8rem;
    color: #20d5ec;
    margin-left: 4px;
}

.name {
    margin: -7px 0 10px 0;
    font-size: 1.4rem;
}

.analytics {
    font-size: 1.6rem;
}

.value ~ .value {
    margin-left: 20px;
}
.lable {
    color: #161823bf;
    margin-top: -5px;
}
