.search,
.search-result {
    width: 361px;
}
.search {
    position: relative;
    height: var(--search-height);
    background-color: rgb(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    display: flex;
    border: 1.5px solid transparent;
    input {
        flex: 1;
        height: 100%;
        caret-color: var(--red);
        color: var(--black);
        font-size: 1.6rem;
        background-color: transparent;
        font-family: var(--font-family);
        padding-right: 40px;
    }
    input:not(:placeholder-shown) ~ .search-btn {
        color: rgb(22, 24, 35, 0.75);
    }
    &::after {
        content: '';
        position: absolute;
        background-color: rgba(22, 24, 35, 0.12);
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        width: 1px;
        top: var(--search-top-spacer);
        right: var(--search-button-width);
    }
    &:focus-within {
        border-color: rgb(22, 24, 35, 0.2);
    }
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgb(22, 24, 35, 0.34);
}

.loading {
    animation: spinner 0.8s linear infinite;
}
@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}
.search-btn {
    width: var(--search-button-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 2rem;
    color: rgba(22, 24, 35, 0.24);
    &:hover {
        background-color: rgb(22, 24, 35, 0.03);
        cursor: pointer;
    }
    &:active {
        background-color: rgb(22, 24, 35, 0.06);
    }
}
.search-title {
    padding: 5px 12px;
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.4rem;
}
